@using FamilyTreeBlazor.presentation.Entities
@using FamilyTreeBlazor.presentation.Infrastructure
@using MudBlazor
@using System
@inject IAppStateService AppState

<div class="person-card">
    <MudCard Class="@(State == CardState.HighlightedChosen ? "inward-border" : "")">
        <MudCardContent Class="flex-column">
            <div style="display: flex; flex-direction: row; justify-content: space-between">
                <h6>@Person.Name</h6>
                <p style="color: @(Person.Sex ? "aqua" : "pink" )">@(Person.Sex ? "M" : "F")</p>
            </div>
            <MudButtonGroup Color="Color.Tertiary" Variant="Variant.Outlined" FullWidth="true">
                <MudTooltip Text="Add Child" Arrow="true" Placement="Placement.Right">
                    <MudIconButton Disabled="@(DisabledButtons.Child)" Icon="@Icons.Material.Filled.ChildCare" OnClick="AddChild"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="Add Spouse" Arrow="true" Placement="Placement.Right">
                    <MudIconButton Disabled="@(DisabledButtons.Spouse)" Icon="@Icons.Material.Filled.SupervisedUserCircle" OnClick="AddSpouse"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="Add Parent" Arrow="true" Placement="Placement.Right">
                    <MudIconButton Disabled="@(DisabledButtons.Parent)" Icon="@Icons.Material.Filled.Elderly" OnClick="AddParent"></MudIconButton>
                </MudTooltip>
            </MudButtonGroup>
        </MudCardContent>
    </MudCard>
</div>

@code {
    [Parameter]
    public CardState State { get; set; } = CardState.Default;
    [Parameter]
    public required Person Person { get; set; }
    [Parameter]
    public DisabledRelations DisabledButtons { get; set; } = new();


    private void AddChild()
    {
        AppState.GetSpecificState<EditToolState>().SetState(EditState.ChoosePerson, Relation.Child);
        Console.WriteLine("Add Child clicked for " + Person.Name);
    }

    private void AddSpouse()
    {
        AppState.GetSpecificState<EditToolState>().SetState(EditState.ChoosePerson, Relation.Spouse);
        Console.WriteLine("Add Spouse clicked for " + Person.Name);
    }

    private void AddParent()
    {
        AppState.GetSpecificState<EditToolState>().SetState(EditState.ChoosePerson, Relation.Parent);
        Console.WriteLine("Add Parent clicked for " + Person.Name);
    }
}
